@value header_gray from '../../../styles/base/colors.css';
@value link_color from '../../../styles/base/colors.css';
@value screen_small_min_width, screen_medium_min_width from '../../../styles/base/breakpoints.css';

.siteHeader {
  color: header_gray;
  height: 100vh;
  position: relative;
  text-transform: lowercase;
  width: 100vw;
}

.siteHeaderContentPage {
  composes: siteHeader;
  height: 12.5rem;
}

@media screen and screen_small_min_width {
  .siteHeaderContentPage {
    border-top: 5rem solid link_color;
  }
}

.siteHeaderHomePage {
  composes: siteHeader;
  border-top: 0 none;
  padding-bottom: 0;
}

@media screen and screen_small_min_width {
  .siteHeaderContentPage {
    height: 16rem;
  }
}

.image {
  background-image: url('./wendy-descending-saddle-between-watrous-and-woods.jpg');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.imageHomePage {
  composes: image;
  background-attachment: fixed;
}

.imageContentPage {
  composes: image;
}

@media screen and screen_small_min_width {
  .imageHomePage,
  .imageContentPage {
    background-image: url('./wendy-descending-saddle-between-watrous-and-woods-large.jpg');
  }
}

.logo {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

@media screen and screen_small_min_width {
  .logo {
    z-index: 2;
  }
}

.logoContentPage {
  composes: logo;
}

.logoHomePage {
  composes: logo;
}

@media screen and screen_small_min_width {
  .logoContentPage {
    right: 0;
  }
}

@media screen and screen_small_min_width {
  .logoHomePage {
    position: fixed;
    right: 5%;
    text-align: right;
    width: auto;
  }
}

.logoBigText {
  composes: headerTextShadow from '../../../styles/base/common.css';
  line-height: 4rem;
  padding: 20px 0 10px 0;
}

@media screen and screen_small_min_width {
  .logoBigText {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media only screen and screen_medium_min_width {
  .logoBigText {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}

.logoSmallText {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.88rem;
  line-height: 0.88rem;
}

@media screen and screen_small_min_width {
  .logoSmallText {
    font-size: 1.1rem;
    line-height: 1.25rem;
  }
}

@media only screen and screen_medium_min_width {
  .logoSmallText {
    font-size: 1.25rem;
    line-height: 1.35rem;
  }
}

.downArrow {
  bottom: 1rem;
  cursor: pointer;
  display: block;
  height: 3rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 10rem;
  z-index: 3;
}

@media screen and screen_small_min_width {
  .downArrow {
    width: 12rem;
  }
}

@media only screen and screen_medium_min_width {
  .downArrow {
    width: 16rem;
  }
}

.downArrow::before,
.downArrow::after {
  background-color: header_gray;
  border-radius: 0.25rem;
  bottom: 0;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  content: ' ';
  height: 0.5rem;
  position: absolute;
  width: 50%;
}

/* Left half of down arrow */
.downArrow::before {
  right: calc(50% - 0.125rem);
  transform: rotate(20deg);
  transform-origin: 100% 50%;
}

/* Right half of down arrow */
.downArrow::after {
  left: calc(50% - 0.125rem);
  transform: rotate(-20deg);
  transform-origin: 0% 50%;
}
