@value link_color from '../../../styles/base/colors.css';
@value screen_small_min_width, screen_medium_min_width from '../../../styles/base/breakpoints.css';

.siteHeader {
  composes: header-gray from '../../../styles/base/colors.css';
  height: 100vh;
  position: relative;
  text-transform: lowercase;
  width: 100vw;
}

.siteHeaderContentPage {
  composes: siteHeader;
  border-top: 2.5rem solid link_color;
}

.siteHeaderHomePage {
  composes: siteHeader;
  border-top: 0 none;
  padding-bottom: 0;
}

@media screen and screen_small_min_width {
  .siteHeaderContentPage {
    padding-bottom: 2rem;
  }
}

.image {
  background-image: url('./wendy-descending-saddle-between-watrous-and-woods.jpg');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.imageHomePage {
  composes: image;
  background-attachment: fixed;
}

@media screen and screen_small_min_width {
  .imageHomePage {
    background-image: url('./wendy-descending-saddle-between-watrous-and-woods-large.jpg');
  }
}

.logo {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

@media screen and screen_small_min_width {
  .logo {
    position: fixed;
    right: 5%;
    text-align: right;
    top: 0;
    width: auto;
    z-index: 2;
  }
}

.logoContentPage {
  composes: logo;
  border-top: 5rem solid transparent;
}

.logoBigText {
  line-height: 4rem;
  padding: 20px 0 10px 0;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}

@media screen and screen_small_min_width {
  .logoBigText {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media only screen and screen_medium_min_width {
  .logoBigText {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}

.logoSmallText {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.88rem;
  line-height: 0.88rem;
}

@media screen and screen_small_min_width {
  .logoSmallText {
    font-size: 1.1rem;
    line-height: 1.25rem;
  }
}

@media only screen and screen_medium_min_width {
  .logoSmallText {
    font-size: 1.25rem;
    line-height: 1.35rem;
  }
}
