@import "../base/variables";

.site-header {
  background-image: url('../../images/wendy-descending-saddle-between-watrous-and-woods.jpg');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  color: $header_gray;
  height: 100vh;
  text-transform: lowercase;
  position: relative;
  width: 100vw;

  @media screen and (min-width: $screen_sm_min) {
    background-image: url('../../images/wendy-descending-saddle-between-watrous-and-woods-large.jpg');
    // border-top: 5rem solid transparent;
    margin-top: 0;
    padding-bottom: 2rem;
  }
}

.content .site-header {
  border-top: 2.5rem solid $link_color;
}

.home .site-header {
  height: 100vh;
  margin-top: 0;
}

.site-header-logo {
  text-align: center;

  h1 { 
    line-height: 4rem;
    margin-bottom: 10px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);

    @media screen and (min-width: $screen_sm_min) {
      font-size: 5rem;
      line-height: 5rem;
    }

    @media only screen and (min-width: $screen_md_min) {
      font-size: 5.5rem;
      line-height: 5.5rem;
    }
  }

  small {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.88rem;
    line-height: 0.88rem;

    @media screen and (min-width: $screen_sm_min) {
      font-size: 1.1rem;
      line-height: 1.25rem;
    }

    @media only screen and (min-width: $screen_md_min) {
      font-size: 1.25rem;
      line-height: 1.35rem;
    }
  }
}

/*
 * TBD: How will we differentiate between the site header on the home page vs.
 * all other pages?

.home .site-header {
  background-attachment: fixed;
  border-top: 0 none;
  min-height: 30rem;
  padding-bottom: 0;

  @include fade_in_background_image();

  .site-header-logo {
    position: fixed;
    right: 5%;
    text-align: right;
    width: auto;
    z-index: 2;
  }
}

.content .site-header {
  border-top: 5rem solid transparent;
}
*/