@value screen_small_max_width from '../../../styles/base/breakpoints.css';
@value screen_small_min_width from '../../../styles/base/breakpoints.css';
@value screen_medium_min_width from '../../../styles/base/breakpoints.css';
@value screen_large_min_width from '../../../styles/base/breakpoints.css';

/* TODO: Move these to a z-index.css file */
@value z_index_container: 1001;
@value z_index_container_after: 1000;
@value z_index_nav_button: 1025;
@value z_index_close_button: 1050;
@value z_index_items: 1002;

.fullWidthAndHeight {
  bottom: 0;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.container {
  composes: fullWidthAndHeight;
  overflow: hidden;
  position: fixed;
  z-index: z_index_container;
}

/* 
 * NOTE: composes doesn't work with pseudo elements. So the full width and 
 * height styles are duplicated here in the smoke layer.
 */
.container:after {
  background-color: black;
  bottom: 0;
  content: "";
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: z_index_container_after;
}

.containerShowing:after {
  opacity: 0.75;
  transition: opacity 500ms ease-in;
}

.containerHiding:after {
  opacity: 0;
  transition: 400ms opacity 250ms ease-out;
}

.navButton {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.25s ease-in;
  width: 3rem;
  z-index: z_index_nav_button;
}

.hasTouch .navButton {
  display: none;
}

@media screen and screen_small_min_width {
  .navButton {
    width: 5rem;
  }
}

@media screen and screen_medium_min_width {
  .navButton {
    width: 7rem;
  }
}

@media screen and screen_large_min_width {
  .navButton {
    width: 10rem;
  }
}

.navButton:hover {
  opacity: 0.5;
}

.navButton:active {
  opacity: 1;
}

.prevNavButton {
  composes: navButton;
  left: 0rem;
}

.nextNavButton {
  composes: navButton;
  right: 0rem;
}

.navButtonArrow {
  height: 5rem;
  margin-top: -2.5rem;
  position: absolute;
  top: 50%;
  width: 0.5rem;
}

.navButtonArrow::before,
.navButtonArrow::after {
  background-color: white;
  border-radius: 0.25rem;
  content: ' ';
  cursor: pointer;
  height: 50%;
  position: absolute;
  width: 100%;
}

.navButtonArrow::before {
  top: 0.125rem;
}

.navButtonArrow::after {
  bottom: 0.125rem;
}

.prevNavButtonArrow {
  composes: navButtonArrow;
  left: calc(50% - 1rem);
}

.prevNavButtonArrow::before {
  transform: rotate(20deg);
  transform-origin: 0% 100%;
}

.prevNavButtonArrow::after {
  transform: rotate(-20deg);
  transform-origin: 100% 0%;
}

.nextNavButtonArrow {
  composes: navButtonArrow;
  left: calc(50% + 1rem);
}

.nextNavButtonArrow::before {
  transform: rotate(-20deg);
  transform-origin: 0% 100%;
}

.nextNavButtonArrow::after {
  transform: rotate(20deg);
  transform-origin: 100% 0%;
}

.closeButton {
  border: 2px solid white;
  border-radius: 1.5rem;
  height: 3rem;
  opacity: 0.5;
  position: absolute;
  right: 0.5rem;
  text-align: center;
  transition: opacity 0.25s ease-in;
  top: 0.5rem;
  width: 3rem;
  z-index: z_index_close_button;
}

.closeButton:active {
  opacity: 1;
}

@media screen and screen_small_min_width {
  .closeButton {
    right: 1rem;
    top: 1rem;
  }
}

.closeButtonText {
  color: white;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  vertical-align: middle;
  transform: rotate(45deg);
}

.itemsWrapper {
  height: 100vw;
  margin-top: 3.5rem;
  max-height: 600px;
  position: relative;
}

@media screen and screen_small_max_width and (orientation: landscape) {
  .itemsWrapper {
    height: 100%;
    margin-top: 0;
    max-height: none;
  }
}

@media screen and screen_small_min_width {
  .itemsWrapper {
    height: calc(100% - 1.5rem);
    margin-top: 1.5rem;
  }
}

@media screen and screen_medium_min_width {
  .itemsWrapper {
    max-height: none;
  }
}

.items {
  height: 100%;
  list-style: none;
  margin-top: -125vh;
  position: absolute;
  transition: transform 700ms ease-out, 500ms margin-top 250ms ease-in;
  white-space: nowrap;
  z-index: z_index_items;
}

.itemsShowing {
  margin-top: 0;
}

.itemsHiding {
  margin-top: -125vh;
  transition: margin-top 500ms ease-out;
}

.item {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  margin-left: 2rem;
  width: 100vw;
}

.item:first-child {
  margin-left: 0;
}

@media screen and screen_small_min_width {
  .item {
    margin-left: 0;
    padding: 1rem;
  }
}

@media screen and screen_medium_min_width {
  .item {
    padding: 2rem;
  }
}

@media screen and screen_large_min_width {
  .item {
    padding: 3rem;
  }
}

.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100%;
  max-height: 1200px;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.caption {
  composes: imageLabelBackground from '../../../styles/base/common.css';
  bottom: 0.25rem;
  left: 50%;
  padding: 0.5rem 1.5rem;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
