.fullWidthAndHeight {
  bottom: 0;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
}

.container {
  display: none;
}

.containerVisible { 
  composes: container;
  composes: fullWidthAndHeight;
  display: block;
  overflow: hidden;
  position: fixed;
  z-index: 1001;
}

/* 
 * NOTE: composes doesn't work with pseudo elements. So the full width and 
 * height styles are duplicated here in the smoke layer.
 */
.containerVisible:after {
  background-color: black;
  bottom: 0;
  content: "";
  height: 100vh;
  left: 0;
  opacity: 0.75;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.navButton {
  height: 5rem;
  margin-top: -2.5rem;
  position: absolute;
  top: 50%;
  width: 0.5rem;
  z-index: 1050;
}

.navButton::before,
.navButton::after {
  background-color: white;
  border-radius: 0.25rem;
  content: ' ';
  cursor: pointer;
  height: 50%;
  position: absolute;
  width: 100%;
}

.navButton::before {
  top: 0.125rem;
}

.navButton::after {
  bottom: 0.125rem;
}

.prevNavButton {
  composes: navButton;
  left: 3rem;
}

.prevNavButton::before {
  transform: rotate(20deg);
  transform-origin: 0% 100%;
}

.prevNavButton::after {
  transform: rotate(-20deg);
  transform-origin: 100% 0%;
}

.nextNavButton {
  composes: navButton;
  right: 3rem;
}

.nextNavButton::before {
  transform: rotate(-20deg);
  transform-origin: 0% 100%;
}

.nextNavButton::after {
  transform: rotate(20deg);
  transform-origin: 100% 0%;
}

.closeButton {
  border: 2px solid white;
  border-radius: 1.5rem;
  height: 3rem;
  position: absolute;
  right: 3rem;
  text-align: center;
  top: 3rem;
  width: 3rem;
  z-index: 1050;
}

.closeButtonText {
  color: white;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  vertical-align: middle;
  transform: rotate(45deg);
}

.items {
  height: 100%;
  list-style: none;
  position: absolute;
  transition: transform 700ms ease-out;
  white-space: nowrap;
  z-index: 1002;
}

.item {
  align-items: center;
  display: inline-flex;
  height: 100vh;
  justify-content: center;
  padding: 3rem;
  width: 100vw;
}

.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 100%;
  max-height: 1200px;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.caption {
  composes: imageLabelBackground from '../../../styles/base/common.css';
  bottom: 0.25rem;
  left: 50%;
  padding: 0.5rem 1.5rem;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
