@value border_gray from '../../../styles/base/colors.css';
@value header_gray from '../../../styles/base/colors.css';
@value screen_small_min_width, screen_medium_min_width from '../../../styles/base/breakpoints.css';

.container {
  background-image: linear-gradient(to bottom, rgba(153, 153, 153, 1), rgba(255, 255, 255, 1));
  border-top: 1px solid header_gray;
  bottom: 0;
  display: block;
  height: 4rem;
  left: 0;
  line-height: 4rem;
  min-height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  text-align: center;
  transition: transform 0.25s ease-in-out;
  width: 100%;
  z-index: 100;
}

.containerHidden {
  transform: translateY(4rem);
}

@media screen and screen_small_min_width {
  .container {
    background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.75), rgba(255, 255, 255, 0.75));
    border-bottom: 1px solid border_gray;
    border-top: 0 none;
    bottom: auto;
    height: 5rem;
    line-height: 5rem;
    padding: 0 3rem 0 3rem;
    top: 0;
    transition: none;
  }

  .containerHidden {
    transform: none;
  }
}

@media screen and screen_medium_min_width {
  .container {
    padding: 0 5rem 0 5rem;
  }
}

.links {
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
  white-space: nowrap;
}

@media screen and screen_small_min_width {
  .links {
    padding: 0;
    width: 100%;
  }
}

.link {
  border-bottom: 0 none;
  border-left: 1px solid border_gray;
  display: inline-block;
  height: 100%;
  min-width: 7rem;
  padding: 0;
}

.link:last-child {
  border-right: 1px solid border_gray;
}

@media screen and screen_small_min_width {
  .link { 
    min-width: 14.28%;
  }
}

.linkText {
  display: inline-block;
  height: 100%;
  padding: 0 1rem 0 1rem;
  transition: background-color 500ms ease;
  width: 100%;
}

.linkText:hover,
.linkText:active,
.linkText:focus {
  background-color: white;
}
