@value screen_small_min_width from '../../../styles/base/breakpoints.css';
@value screen_medium_min_width from '../../../styles/base/breakpoints.css';
@value screen_large_min_width from '../../../styles/base/breakpoints.css';

.container {
  composes: contentItem from '../../../styles/base/common.css';
  composes: contentItemGutter from '../../../styles/base/common.css';
  margin-bottom: 2.5rem;
}

@media screen and screen_medium_min_width {
  .container {
    margin-bottom: 3.5rem;
  }
}

@media screen and screen_large_min_width {
  .container {
    margin-bottom: 4.5rem;
  }
}

.title {
  composes: contentItemTitle from '../../../styles/base/common.css';
  font-size: 1.75rem;
  min-height: 75px;
}

@media screen and screen_medium_min_width {
  .title {
    font-size: 2rem;
  }
}

@media screen and screen_large_min_width {
  .title {
    font-size: 2.25rem;
  }
}

.imagesContainer {
  height: 50vw;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  text-align: left;
} 

.imagesContainer:empty {
  height: 0;
  margin-bottom: 0;
}

.imagesContainerReverse { 
  composes: imagesContainer;
  text-align: right;
}

@media screen and screen_medium_min_width {
  .imagesContainer,
  .imagesContainerReverse {
    max-height: 400px;
  }
}

@media screen and screen_large_min_width {
  .imagesContainer,
  .imagesContainerReverse {
    max-height: 500px;
  }
}

.imageContainer {
  display: inline-block;
  height: 33%;
  margin-bottom: 0.5%;
  width: 35%;
}

.imageContainer:last-child {
  margin-bottom: 0;
}

.imageContainer:first-child {
  float: right; 
  height: 100%;
  margin-bottom: 0;
  width: 64.5%
}

.imagesContainerReverse .imageContainer:first-child {
  float: left;
}

.imageContainer:first-child:last-child,
.imagesContainerReverse .imageContainer:first-child:last-child {
  float: none;
  width: 100%;
}

.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
}

.showMoreImages { 
  composes: imageLabelBackground from '../../../styles/base/common.css';
  align-items: center;
  bottom: 0.5%;
  display: flex;
  flex-wrap: wrap;
  height: 35%;
  position: absolute;
  right: 0.5%;
  width: 35%;
  z-index: 1;
}

@media screen and screen_small_min_width {
  .showMoreImages {
    height: 30%;
    width: 30%;
  }
}

@media screen and screen_medium_min_width {
  .showMoreImages {
    height: 25%;
    width: 25%;
  }
}

@media screen and screen_large_min_width {
  .showMoreImages {
    height: 20%;
    width: 20%;
  }
}

.showMoreImagesText,
.showMoreImagesCount {
  display: block;
  width: 100%;
}

.showMoreImagesCount {
  font-size: 0.775rem;
}

.showMoreImagesReverse {
  composes: showMoreImages;
  background: radial-gradient(at top right, rgba(36, 41, 46, 0.15), rgba(36, 41, 46, 0.85));
  border-bottom: 1px solid hsl(210, 12%, 24%);
  border-left: 1px solid hsl(210, 12%, 8%);
  border-right: 1px solid hsl(210, 12%, 24%);
  border-top: 1px solid hsl(210, 12%, 8%);
  left: 0.5%;
  right: auto;
}

/* 
 * NOTE: HTML element selectors are used for text styles b/c the HTML is 
 * generated externally. 
 */

.text {
  margin: 0 auto 4rem auto;
  width: 90%;
}

.text p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.text p > b:first-child {
  /* 
   * REVIEW: This color comes from the SASS default styles so we don't have 
   * access to it here. And we're specifying a color on this element to 
   * override the default link color when this element is wrapped in an anchor.
   * So there are some issues to review here...
   */
  color: #303030;
  display: block;
  font-family: 'Passion One', Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.text p > b:first-child + br {
  display: none;
}

.text p a {
  text-decoration: underline;
}

@media screen and screen_medium_min_width {
  .text p > b:first-child {
    margin-bottom: 0.75rem;
  }
}

@media screen and screen_large_min_width {
  .text p > b:first-child {
    margin-bottom: 1rem;
  }
}

.readMoreLink {
  display: none;
}