@value screen_small_min_width from '../../../styles/base/breakpoints.css';
@value screen_medium_min_width from '../../../styles/base/breakpoints.css';

.container {
  padding: 1rem 1rem 2rem 1rem;
}

.containerHomePageNav {
  composes: container;
  background: #6090d0 url(./resting_above_treeline.jpg) bottom left no-repeat;
  padding-bottom: 1rem;
  text-align: center;
}


@media screen and screen_small_min_width {
  .containerHomePageNav {
    background-image: url(./resting_above_treeline_large.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 800px;
    padding-bottom: 0;
    padding-top: 5vh;
  }
}