@value screen_small_min_width from '../../../styles/base/breakpoints.css';
@value screen_medium_min_width from '../../../styles/base/breakpoints.css';

/*
 * TODO: Attempting to use values or compose styles from colors.css leads to
 * the error:
 *
 * "Order in extracted chunk undefined"
 * 
 * Unfortunately, it's not clear why. So for now, the colors used here are 
 * hardcoded. I need to figure out why this happens!
 *
 * @value sky_blue from '../../../styles/base/colors.css';
 * composes: skyBlue from '../../../sstyles/base/colors.css';
 */

.container {
  padding: 1rem 1rem 2rem 1rem;
}

.containerHomePageNav {
  composes: container;
  background: #6090d0 url(./resting_above_treeline.jpg) bottom left no-repeat;
  padding-bottom: 1rem;
}

@media screen and screen_small_min_width {
  .containerHomePageNav {
    background-image: url(./resting_above_treeline_large.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 800px;
    padding-bottom: 0;
    padding-top: 5vh;
  }
}

.title {
  composes: headerTextShadow from '../../../styles/base/common.css';
  color: #202020;
  font-size: 2.75rem;
  line-height: 3rem;
  padding-bottom: 1rem;
}

@media screen and screen_small_min_width {
  .title {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media screen and screen_medium_min_width {
  .title {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
}
