<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main class="js-main-container">
    </main>
    <script>
      // TODO: Remove when new generate_content.rb is used on d-low.com!
      window.Dlow = window.Dlow || {};
    </script>
    <script src="https://www.d-low.com/data/content.js"></script>
  </body>
</html>
