@value light_gray from '../../../styles/base/colors.css';
@value screen_small_min_width from '../../../styles/base/breakpoints.css';

.container {
  border-top: 1px solid light_gray;
  margin: 1.875rem auto 0 auto;
  padding: 1.875rem 0 3.125rem 0;
  width: 80%;
}
  
@media screen and screen_small_min_width {
  .container {
    margin-bottom: 0;
  }
}

.listItemNav { 
  text-align: center;
}

.listItem {
  display: inline-block;
  padding: 0 0.5rem 0 0.5rem;
}

.listItemLink:link,
.listItemLink:visited,
.listItemLink:hover,
.listItemLink:active { 
  text-decoration: none;
}

.listItemText {
  display: none;
}
