@value border_gray, link_color, off_white from '../../../styles/base/colors.css';
@value screen_small_min_width from '../../../styles/base/breakpoints.css';
@value screen_medium_min_width from '../../../styles/base/breakpoints.css';
@value screen_large_min_width from '../../../styles/base/breakpoints.css';

.homePageItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*
 * Tiles with 4:3 Aspect Radio
 * See: http://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
 */
.item {
  background-color: off_white;
  border: 1px solid border_gray;
  box-shadow: 0 5px 10px 1px rgba(0,0,0,.3);
  cursor: pointer;
  display: block;
  margin: 0 auto 1rem auto;      
  padding-bottom: 75%;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.itemHomePage {
  composes: item;
}

.itemContentPage {
  composes: item;
  padding-bottom: 67.5%;
}

@media screen and screen_medium_min_width {
  .itemHomePage {
    margin-bottom: 3rem;
    padding-bottom: 33.75%;
    width: 45%;
  }

  .itemContentPage {
    margin-bottom: 5rem;
    padding-bottom: 600px;
    width: 800px;
  }
}

@media screen and screen_large_min_width {
  .itemHomePage {
    margin-bottom: 4rem;
    padding-bottom: 22.5%;
    width: 30%;
  }
}

.itemLink {
  color: link_color;
  display: block;
  height: 100%;
  padding: 0.25rem 0.25rem 0 0.25rem;
  position: absolute;
  width: 100%;
}

@media screen and screen_medium_min_width {
  .itemLink {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}

@media screen and screen_large_min_width {
  .itemLink {
    padding: 0.75rem 0.75rem 0 0.75rem;
  }
}

.itemLink:link,
.itemLink:visited,
.itemLink:hover,
.itemLink:active { 
  text-decoration: none;
}   

.itemImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 85%;
}

.itemTitle {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  height: 15%;
  justify-content: center;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemTitleHomePage {
  composes: itemTitle;
}

@media screen and (min-width: 668px) {
  .itemTitleHomePage {
    font-size: 1.25rem;
  }
}

@media screen and screen_small_min_width {
  .itemTitle {
    font-size: 1.25rem;
  }
}

@media screen and screen_medium_min_width {
  .itemTitle {
    font-size: 1.5rem;
  }

  .itemTitleHomePage {
    font-size: 1rem;
  }
}

@media screen and screen_large_min_width {
  .itemTitleHomePage {
    font-size: 0.9rem;
  }
}

