@value screen_small_min_width from '../../../styles/base/breakpoints.css';
@value screen_medium_min_width from '../../../styles/base/breakpoints.css';
@value screen_large_min_width from '../../../styles/base/breakpoints.css';

.homePageItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*
 * Tiles with 4:3 Aspect Radio
 * See: http://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css
 */
.item {
  composes: contentItem from '../../../styles/base/common.css';
  cursor: pointer;  
  padding-bottom: 75%;
  position: relative;
  vertical-align: top;
}

.itemHomePage {
  composes: item;
}

.itemContentPage {
  composes: item;
  padding-bottom: 67.5%;
}

@media screen and screen_medium_min_width {
  .itemHomePage {
    margin-bottom: 3rem;
    padding-bottom: 33.75%;
    width: 45%;
  }

  .itemContentPage {
    padding-bottom: 600px;
  }
}

@media screen and screen_large_min_width {
  .itemHomePage {
    margin-bottom: 4rem;
    padding-bottom: 22.5%;
    width: 30%;
  }
}

.itemLink {
  composes: contentItemGutter from '../../../styles/base/common.css';
  display: block;
  height: 100%;
  padding-bottom: 0;
  position: absolute;
  width: 100%;
}

.itemLink:link,
.itemLink:visited,
.itemLink:hover,
.itemLink:active { 
  text-decoration: none;
}   

.itemImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 85%;
}

.itemTitle {
  composes: contentItemTitle from '../../../styles/base/common.css';
  height: 15%;
}

.itemTitleHomePage {
  composes: itemTitle;
  font-size: 1.25rem;
}

@media screen and (min-width: 568px) {
  .itemTitleHomePage {
    font-size: 1.5rem;
  }
}

@media screen and screen_small_min_width {
  .itemTitleHomePage {
    font-size: 1.75rem;
  }
}

@media screen and screen_medium_min_width {
  .itemTitleHomePage {
    font-size: 1.5rem;
  }
}

@media screen and screen_large_min_width {
  .itemTitleHomePage {
    font-size: 1.25rem;
  }
}
