/* 
 * Colors 
 */

@value off_white: #f9f9f9;
@value light_gray: #cccccc;
@value header_gray: #202020;
@value border_gray: #999999;
@value link_color: #303030;
@value sky_blue: #6090d0;

/* TODO: Switch to camel case for easier use in JavaScript */
.off-white {
  color: off_white;
}

.light-gray { 
  color: light_gray;
}

.header-gray {
  color: header_gray;
}

.border-gray {
  color: border_gray;
}

.link-color {
  color: link_color;
}

.borderGrayBackground {
  background-color: border_gray;
}