/* 
 * REVIEW: Should we rename this file to be more specific? "common" is a bit
 * too generic. Also, can we stop using SASS and just use CSS modules? How do 
 * we apply common styles in that case? Do we just apply a class name to the 
 * body and then use that for our common styles selectors?
 */

@value screen_medium_min_width from './breakpoints.css';
@value screen_large_min_width from './breakpoints.css';
@value border_gray, off_white, link_color from './colors.css';

.headerTextShadow {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}

/*
 * TBD: Can we construct the gausian blur effect with the large image here in 
 * the show more images button using some sort of combination of the following
 * techniques?
 * 
 * http://stackoverflow.com/questions/22816065/using-data-attributes-in-css-before-after-for-a-background-image
 * https://css-tricks.com/frosting-glass-css-filters/
 */
.imageLabelBackground {
  background: radial-gradient(at top left, rgba(36, 41, 46, 0.15), rgba(36, 41, 46, 0.85));
  border-bottom: 1px solid hsl(210, 12%, 8%);
  border-left: 1px solid hsl(210, 12%, 24%);
  border-right: 1px solid hsl(210, 12%, 8%);
  border-top: 1px solid hsl(210, 12%, 24%);
  color: white;
  font-weight: bold;
  text-align: center;
}

/*
 * Content Item styles are used for tile navigation and posts 
 */

.contentItem {
  background-color: off_white;
  border: 1px solid border_gray;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto 1rem auto;    
  width: 100%;
}

@media screen and screen_medium_min_width {
  .contentItem {
    margin-bottom: 5rem;
    width: 800px;
  }
}

.contentItemGutter {
  padding: 0.25rem;
}

@media screen and screen_medium_min_width {
  .contentItemGutter {
    padding: 0.5rem;
  }
}

@media screen and screen_large_min_width {
  .contentItemGutter {
    padding: 0.75rem;
  }
}

.contentItemTitle {
  color: link_color;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: normal;
  justify-content: center;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 450px) {
  .contentItemTitle {
    font-size: 2rem;
  }
}

@media screen and screen_small_min_width {
  .contentItemTitle {
    font-size: 2.25rem;
  }
}

@media screen and screen_medium_min_width {
  .contentItemTitle {
    font-size: 2.5rem;
  }
}
