@import "variables";

/* 
 * External fonts
 */

@import url(http://fonts.googleapis.com/css?family=Passion+One);

/* 
 * Set fontsize on HTML for proper REM font sizing.
 * See: http://snook.ca/archives/html_and_css/font-size-with-rem
 */

html {
  font-size: $font_size_base;
}

body { 
  color: $body_color;
  font-family: $font_family_base;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

h1, h2, h3, h4, h5, h5 { 
  font-family: $font_family_heading;
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: 4.25rem;
}

h2 { 
  font-size: 2.75rem;
  line-height: 3rem;
}

h3, h4, h5, h6 { 
  font-size: 1.5rem;
  line-height: 1.75rem;
}

a {
  color: $link_color;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
