.clearfix {
  *zoom: 1;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility:hidden;
}

/*
 * The following classes are used for fading in background images. The method
 * shown on CSS Tricks of adding a pseudo element that is the exact same size
 * as the parent element, fading it out, and thus fading in the background 
 * image is used. 
 * 
 * Also note that since pseudo elements can't be composed we introduce the 
 * imageHidden and imageVisible classes for composition and then do all the 
 * work of hiding the image nad fading it in in the pseudo element rule sets.
 *
 * SEE: 
 * https://css-tricks.com/snippets/css/transparent-background-images/
 * https://github.com/css-modules/css-modules/issues/42
 *
 * TODO: Move these styles to a component which wraps the fade in background
 * image functionality.
 */

.imageHidden {}

.imageHidden::after {
  background-color: white;
  content: "";
  bottom: 0;
  left: 0;
  opacity: 1;
  right: 0;
  transition: opacity 0.5s ease-in;
  top: 0;
  position: absolute;
  z-index: 1;
}

.imageVisible {
  composes: imageHidden;
}

.imageVisible::after {
  opacity: 0;
}