/* 
 * Colors 
 */

$body_color: #444444;
$off_white: #f9f9f9;
$light_gray: #cccccc;
$header_gray: #202020;
$border_gray: #999999;
$link_color: #303030;

/* 
 * Typography
 */

$font_family_base: 'Trebuchet MS', Arial, sans-serif;
$font_family_heading: 'Passion One', Helvetica, sans-serif;
$font_size_base: 16px;

/* 
 * Miscellaneous 
 */

$content_and_post_max_width: 800px;